.map-container {
  height: 70vh;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 12px;
  border-radius: 4px;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

.protected-text {
  color: #7d8fb3;
  font-family: Roboto;
  font-weight: bold;
}

.map-nav button {
  border: 0px;
  padding: 15px 5px;
  border: none;
  font: inherit;
  color : inherit;
  background-color: transparent;
  cursor: pointer;
}

.protected-list .active button {
  border-bottom: solid 2px #ff5e00;
  color: #ff5e00;
}

.searchbar-position {
  right: 0;
}

@media (max-width: 992px) {
  .searchbar-position {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .searchbar-position {
    left: 45%;
    transform: translateX(-50%);
  }
}

@media (max-width: 576px) {
  .searchbar-position {
    left: 42%;
    transform: translateX(-50%);
  }
}